.menu ul li .movile {
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

.mainHeader {
  background-color: black;
  position: sticky;
  display: flex;
  justify-content: space-around;
  border-color: azure;
  border-style: groove;
  padding: 0px;
  margin: 0px;
  height: 70px; }
  .mainHeader .tituloPrincipal {
    color: azure;
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
  .mainHeader .topMenu ul li {
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px; }
    .mainHeader .topMenu ul li .headerImg {
      background-color: aliceblue;
      width: 35px;
      padding: 9px;
      margin: 1px;
      border-radius: 20px; }
  .mainHeader .topMenu ul li:hover {
    transform: scale(1.2); }

.menu {
  background-color: black;
  z-index: 2;
  padding: 1px;
  margin: 1px;
  text-align: center; }
  .menu ul li {
    background-color: white;
    border-radius: 35px;
    font-size: 10px;
    display: inline-block;
    padding: 10px;
    margin: 10px; }
    .menu ul li .mainImg {
      width: 250px;
      display: flex; }
    .menu ul li .mainImg:hover {
      transform: scale(1.15); }
    .menu ul li .aMain {
      text-align: center;
      text-decoration: none;
      color: black; }
    .menu ul li .movile {
      font-size: 30px; }

footer .derechos {
  font-size: 26px; }

footer .footUpImg {
  margin-top: 10px;
  margin-left: 10px;
  width: 26px; }

@media only screen and (min-width: 600px) {
  .mainHeader {
    height: 75px; }
    .mainHeader .tituloPrincipal {
      font-size: 45px; }
    .mainHeader .topMenu ul li .headerImg {
      width: 40px;
      padding: 10px;
      border-radius: 15px; }
  .menu {
    padding: 20px;
    margin: 1px; }
    .menu ul li {
      border-radius: 38px;
      padding: 12px;
      margin: 15px; }
      .menu ul li .mainImg {
        width: 350px;
        display: flex; }
      .menu ul li .mainImg:hover {
        transform: scale(1.15); }
      .menu ul li .movile {
        color: black;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 35px; }
  footer .derechos {
    font-size: 30px; }
  footer .footUpImg {
    margin-top: 18px;
    margin-left: 45px;
    width: 35px; } }

@media only screen and (min-width: 1200px) {
  .mainHeader {
    height: 80px; }
    .mainHeader .tituloPrincipal {
      font-size: 50px; }
    .mainHeader .topMenu ul li .headerImg {
      width: 50px;
      padding: 10px;
      border-radius: 14px; }
  .menu {
    padding: 20px;
    margin: 1px; }
    .menu ul li {
      border-radius: 38px;
      padding: 12px;
      margin: 15px; }
      .menu ul li .mainImg {
        width: 470px;
        display: flex; }
      .menu ul li .mainImg:hover {
        transform: scale(1.1);
        border-radius: 50px; }
      .menu ul li .movile {
        display: none; }
  footer .derechos {
    font-size: 40px; }
  footer .footUpImg {
    margin-top: 15px;
    margin-left: 200px;
    width: 60px; } }

.bodyProducts {
  background-color: black; }
  .bodyProducts .pName {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    margin: 1rem;
    color: aliceblue; }
  .bodyProducts .tarjeta {
    margin: 15px; }

.nosotrosMain {
  display: grid;
  grid-template-areas: "pNosotros" "iNosotros";
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 50px;
  background-color: black;
  justify-content: center;
  align-items: center; }
  .nosotrosMain .pNosotros {
    grid-area: pNosotros;
    text-align: center;
    font-size: 30px;
    color: white; }
  .nosotrosMain .ourPic {
    grid-area: iNosotros;
    width: 400px;
    text-align: center; }
  .nosotrosMain .pNosotrosBotom {
    background-color: #3c78a0;
    font-size: 500px; }

@media only screen and (min-width: 700px) {
  .main {
    justify-content: center; }
  .pNosotros {
    grid-area: pNosotros;
    text-align: center;
    font-size: 40px;
    color: white; }
  .ourPic {
    grid-area: iNosotros;
    width: 600px;
    text-align: center; } }

@media only screen and (min-width: 1000px) {
  .nosotrosMain {
    display: grid;
    grid-template-areas: "pNosotros" "iNosotros";
    justify-content: center;
    align-items: center;
    display: flex;
    height: 75vh;
    margin: 0px;
    padding: 50px;
    background-color: black;
    justify-content: center;
    align-items: center; }
  .pNosotros {
    grid-area: pNosotros;
    text-align: center;
    font-size: 40px;
    color: white; }
  .ourPic {
    grid-area: iNosotros;
    width: 500px;
    text-align: center; } }

.regmenu {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: whitesmoke;
  height: 600px; }

.form {
  grid-area: form;
  text-align: center;
  background-color: whitesmoke;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 30px;
  width: 10px; }
  .form .inputR {
    font-size: 15px; }

.regImg {
  visibility: hidden; }

@media only screen and (min-width: 700px) {
  .regmenu {
    display: grid;
    grid-template-areas: "form rImg";
    text-align: center;
    justify-content: center;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    height: 600px; }
  .form {
    text-align: center;
    background-color: whitesmoke;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 30px;
    width: 10px; }
    .form .inputR {
      font-size: 12px; }
  .regImg {
    width: 500px;
    visibility: visible;
    grid-area: rImg; } }

@media only screen and (min-width: 1024px) {
  .regmenu {
    background-color: whitesmoke;
    display: flex;
    justify-content: space-around;
    height: 860px; }
  .form {
    background-color: whitesmoke;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
    width: 10px; }
    .form .inputR {
      font-size: 15px; }
  .regImg {
    width: 850px;
    margin-bottom: 200px; } }

@media only screen and (min-width: 1300px) {
  .regmenu {
    background-color: whitesmoke;
    display: flex;
    justify-content: space-around;
    height: 860px; }
  .form {
    background-color: whitesmoke;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
    width: 10px; }
    .form .inputR {
      font-size: 15px; }
  .regImg {
    width: 1250px;
    margin-bottom: 200px; } }

.contacto {
  display: grid;
  grid-template-areas: "c1"  "c2" "c3";
  text-align: center;
  font-size: 25px;
  height: 75vh; }

@media only screen and (min-width: 700px) {
  .contacto {
    font-size: 40px;
    height: 73vh; } }

@media only screen and (min-width: 1024px) {
  .contacto {
    font-size: 70px;
    height: 74vh; } }

@media only screen and (min-width: 1200px) {
  .contacto {
    font-size: 70px;
    height: 70vh; } }
